* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html, #main {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative
  /* background-color: rebeccapurple; */
}

/* =============hero-section================ */
#hero-section {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  /* background-color: aquamarine; */
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(231, 231, 231);
}

a {
  text-decoration: none;
  color: black;
  padding-left: 25px;
  font-size: 20px;
}

.left-nav {
  display: flex;
}

.left-nav :last-child {
  color: orangered;
}

.right-nav :first-child {
  color: blue;
}

#otherlinks {
  /* background-color: aqua; */
  height: 4vw;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
}

#otherlinks a {
  font-size: 15px;
  padding-left: 50px;
}

#otherlinks :first-child {
  color: orangered;
}

.head-img {
  height: 90vh;
  width: 90vw;
  object-fit: cover;
  padding-left: 200px;
}

.img-heading {
  height: 35%;
  width: 35%;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

/* =============mid-section -1================ */

#mid-1 {
  height: 150vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.mid-1-para {
  font-size: 25px;
  line-height: 1.5;
}

.mid-1-para p {
  padding-top: 40px;
  font-size: 20px;
}

.mid-1-para span {
  color: blue;
}

.mid-1-image {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.bg {
  height: 850px;
  width: 60vw;
  background-color: #fbffa7;
  z-index: -10;
  position: absolute;
  left: 40%;
}
.mid-img-first {
  height: 600px;
  width: 600px;
}
.mid-img-second {
  padding-left: 120px;
  height: 400px;
  width: 600px;
}

/* ===============mid-section-2=============== */

#mid-2 {
  height: auto;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.mid-2-para {
  font-size: 25px;
  line-height: 1.5;
}

.mid-2-para p {
  padding-top: 40px;
  font-size: 20px;
  margin-bottom: 60px;
}

.svg-image {
  position: relative;
  z-index: 1;
  margin-bottom: 15%;
  left: 50%;
}

h6 {
  font-size: 15px;
  margin-left: -505px;
}

/* ===============mid-section-3=============== */
#mid-3 {
  /* background-color: rebeccapurple; */
  height: 100vh;
  width: 100vw;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.mid-3-para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 85%;
  background-color: #b1c5ff;
  color: #000;
  font-size: 25px;
  line-height: 1.4;
}

.mid-3-para h3 {
  padding-bottom: 20px;
}

.mid-3-para a {
  color: blue;
  padding-left: 0px;
  margin-left: -44%;
  font-size: 23px;
}

.mid-3-image {
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* ===============FOOTER=============== */
#footer{
  /* background-color: rebeccapurple; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px;
  
}

.about{
  /* border: 2px solid black; */
  /* background-color: red; */
}

#first{
  background-color: white;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin-left: -125px;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  padding-top: 10px;


}

#second{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 1.6;
}

#second h3{
  padding-left: 25px;
}

#third{
  background-color: white;
  font-size: 18px;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

#third .email{
   display: flex;
   padding-top: 20px;
} 

#third .email input{
  height: 40px;
  width: 70%;
  background-color: #EEEEEE;
  font-size: 20px;
  padding-left: 10px;
}
#third .email button{
  background-color: blue;
  color: white;
  width: 18%;
  font-size: 20px;
}
#fourth{
  background-color: white;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 1.6;
}

#fourth h3{
  padding-left: 25px;
}
#fifth{
  background-color: white;
  grid-column: 2/4;
  align-self: start;
  justify-self: start;
  margin-top: 50px;
  margin-left: 25px;
}

#fifth h3{
  padding-bottom: 20px;
  font-size: 20px;
}

#fifth input{
  font-size: 20px;
}
#six{
  /* background-color: chocolate; */
  grid-column: 1/3;
  padding-left: 78px;
  padding-top: 30px;
}

#six a{
  font-size: 15px;
}
#seven{
  display: flex;
  align-items: center;
  padding-top: 10px;
  align-self: start;
  justify-self: end;
  padding-right: 30px;

}

#seven img{
  height: 70px;
  width: 70px;
  padding-left: 20px;
}

.btm-heading{
  font-size: 100px;
  position: absolute;
  left: 7%;
  bottom: -380%
}













